.center-slide .slick-list {
    overflow: visible
}

.center-slide .slick-dots li,
.single-item-slider .slick-dots li {
    float: left;
    margin-right: max(12px, .625vw);
    height: max(14px, .729vw);
    width: max(14px, .729vw);
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(105 105 105/var(--tw-bg-opacity));
    font-size: 0
}

.center-slide .slick-dots li.slick-active,
.single-item-slider .slick-dots li.slick-active {
    --tw-bg-opacity: 1;
    background-color: rgb(245 130 32/var(--tw-bg-opacity))
}

.center-slide .slick-dots,
.single-item-slider .slick-dots {
    margin-top: max(14px, 1.481vw)
}